
.header {
    background-image: 
                        linear-gradient(90deg, var(--sombra-9) 0%, var(--sombra-9) 100%),
                        url(../public/images/Banner.jpg);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 65vh;
    position: relative;

    @media only screen and (max-width: 1000px) {
        height: 80vh;
    }

    @media only screen and (max-width: 500px) {
        height: 60vh;
    }
}

.nav {
    display: flex;
    width: 100%;
    height: 10rem;
    margin: 0 auto;
    padding: 0 2rem;
    gap: 4rem;
    align-items: center;
    color: var(--white);
    background-color: var(--sombra-1);
    justify-content: center;
    gap: 30rem;

    @media only screen and (max-width: 1000px) {
        gap: 6rem;
    }

    @media only screen and (max-width: 500px) {
        justify-content: space-around;
    }
}

.nav__logo {
    font-family: 'Asap Condensed', sans-serif;
    font-size: 3rem;
    padding-right: 5rem;
    transition: all .2s;
}

.nav__logo:hover,
.nav__logo:focus {
    transform: scale(1.01) rotate(-2deg);
}

.nav__container {
    display: flex;
    align-items: center;
}

.nav__ul {
    gap: 1.5rem;
    
    @media only screen and (max-width: 500px) {
        display: none;
    }
}

.nav__btn--hamburguer {
    display: none;
    background-color: transparent;

    @media only screen and (max-width: 500px) {
        display: block;
    }
}

.nav__hamburguer {
    display: none;
    transition: all .2s;
    border-radius: 100%;
    padding: .5rem;
    
    @media only screen and (max-width: 500px) {
        display: block;
        width: 5rem;
        height: 5rem;
        fill: var(--white);
        background-color: var(--primary-blue-dark-1);
        box-shadow: 0 .8rem 4rem var(--sombra-5);
    }
}

.nav__hamburguer:hover,
.nav__hamburguer:focus {
    transform: scale(1.02) translateY(-2px);
    box-shadow: 0 .8rem 4rem var(--sombra-8);
}

.nav__hamburguer:active {
    transform: scale(1.01) translateY(-.5px);
    box-shadow: 0 .8rem 4rem var(--sombra-6);
}

.nav__li {
    transition: all .2s;
}

.nav__link {
    letter-spacing: .08rem;
    color:  inherit;
}

.nav__li:hover,
.nav__li:focus {
    transform: scale(1.02) translateY(-2px);
    text-shadow: 0 .5rem .8rem var(--sombra-2);
}

.nav__li:active {
    transform: translateY(-1px);
    transform: scale(1.02) translateY(-.5px);
    text-shadow: 0 .5rem .8rem var(--sombra-1);
}

.nav__div {
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all .2s;
    cursor: pointer;
}

.nav__div:hover,
.nav__div:focus {
    transform: scale(1.02) translateY(-2px);
    text-shadow: 0 .5rem .8rem var(--sombra-2);
}

.nav__div:active {
    transform: translateY(-1px);
    transform: scale(1.02) translateY(-.5px);
    text-shadow: 0 .5rem .8rem var(--sombra-1);
}

.nav__icon {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    fill: var(--white);
    padding: .2rem;
    border: .2rem solid var(--white);
    border-radius: 50%;
    
    @media only screen and (max-width: 500px) {
        display: none;
    }
}

.nav__texto {
    font-size: 1.5rem;
}

.nav__email {
    @media only screen and (max-width: 700px) {
        display: none;
    }
}

.header__heading {
    color: var(--white);
    text-align: center;
}

.header__heading--primary {
    font-size: 5rem;
    margin-top: 7rem;
    letter-spacing: .04rem;

    @media only screen and (max-width: 1000px) {
        font-size: 4rem;
    }

    @media only screen and (max-width: 500px) {
        font-size: 2.5rem;
    }
}

.header__heading--secondary {
    font-size: 2.5rem;
    margin-top: 1rem;
    letter-spacing: .08rem;

    @media only screen and (max-width: 500px) {
        font-size: 1.8rem;
    }
}

.header__span {
    font-style: italic;
    font-size: 2.25rem;

    @media only screen and (max-width: 500px) {
        font-size: 1.75rem;
    }
}

.header__btn {
    background-color: var(--primary-blue-dark-1);
    box-shadow: 0 .8rem 4rem var(--sombra-7);
    width: 30rem;
    font-size: 2.5rem;
    padding: .5rem;
    border-radius: .5rem;
    position: absolute;
    top: 35rem;
    right: 50%;
    transform: translateX(50%);
    cursor: pointer;
    transition: all .2s;

    @media only screen and (max-width: 500px) {
       font-size: 2rem;
       width: 22rem;
    }
}

.header__btn:hover,
.header__btn:focus {
    transform: scale(1.02) translateX(50%);
    box-shadow: 0 .8rem 4rem var(--sombra-8);
}

.header__btn:active {
    transform: scale(1.01) translateX(50%);
    box-shadow: 0 .8rem 4rem var(--sombra-6);
}