.mensagem {
    position: fixed;
    display: flex;
    align-items: center;
    gap: .8rem;
    z-index: 1000;
    background-color: var(--primary-blue-dark-1);
    bottom: 2rem;
    right: 3rem;
    padding: 1rem;
    border-radius: 5rem;
    box-shadow: 0 .5rem 1rem var(--sombra-5);
    transition: all .2s;
    cursor: pointer;
}

.mensagem:hover,
.mensagem:focus {
    box-shadow: 0 .5rem 1rem var(--sombra-7);
    transform: translateY(-3px) scale(1.02);
}

.mensagem:active {
    box-shadow: 0 .5rem 1rem var(--sombra-6);
    transform: translateY(-1.5px) scale(1.02);
}

.mensagem__icon {
    width: 3rem;
    height: 3rem;
    fill: var(--white);
}

.mensagem__span {
    color: var(--white);
}